<html>
  <head>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
<form action="/output" method="post">
  <hr>
<p>
  Did you hear what happen to the Genoa bridge ? <br>
  <input type="radio" name="bridge" value="yes"> yes <br>
  <input type="radio" name="bridge" value="no"> no <br>
  <input type="radio" name="bridge" value="unsure"> unsure 
</p>
  
<p>
  Do you think the disease known as ebola has subsided ?<br>
 <input type="radio" name="ebola" value="yes"> yes <br>
  <input type="radio" name="ebola" value="no"> no <br>
  <input type="radio" name="ebola" value="unsure"> unsure <br>
</p>

<p> Have you heard of the suicide attack taken place in Kabul, Afghanistan ?<br>
 <input type="radio" name="attack" value="yes"> yes <br>
  <input type="radio" name="attack" value="no"> no <br>
  <input type="radio" name="attack" value="unsure"> unsure <br>
</p>

<p> Did you hear about the crop destroying worm traveling from Africa to Asia ?<br>
  <input type="radio" name="worm" value="yes"> yes <br>
  <input type="radio" name="worm" value="no"> no <br>
  <input type="radio" name="worm" value="unsure"> unsure <br>
</p>

<p> Did you hear abut the Earthquake that happen in lombak, Indonesia ?<br>
  <input type="radio" name="Earthquake" value="yes"> yes <br>
  <input type="radio" name="Earthquake" value="no"> no <br>
  <input type="radio" name="Earthquake" value="unsure"> unsure <br>
</p>

<p> Have you heard of the unexpected floods in New Delhi, India ?<br>
  <input type="radio" name="flood" value="yes"> yes <br>
  <input type="radio" name="flood" value="no"> no <br>
  <input type="radio" name="flood" value="unsure"> unsure <br>
</p>

<p> Has anyone talk to you about the terror attacks happening in london ?<br>
  <input type="radio" name="terror" value="yes"> yes <br>
  <input type="radio" name="terror" value="no"> no <br>
  <input type="radio" name="terror" value="unsure"> unsure <br>
</p>
  
<p> Did you see on the news about the explosion that happened in near Syrain-Turkish ?<br>
  <input type="radio" name="explosion" value="yes"> yes <br>
  <input type="radio" name="explosion" value="no"> no <br>
  <input type="radio" name="explosion" value="unsure"> unsure <br>
</p>

<p> Have you heard of the Saudi-led attack that killed dozen of innocent children ?<br>
  <input type="radio" name="dozen" value="yes"> yes <br>
  <input type="radio" name="dozen" value="no"> no <br>
  <input type="radio" name="dozen" value="unsure"> unsure <br>
</p>

<html>
  <head>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
<form action="/output" method="post">
  <hr>
<p>
  Did you hear what happen to the Genoa bridge ? <br>
  <input type="radio" name="bridge" value="yes"> yes <br>
  <input type="radio" name="bridge" value="no"> no <br>
  <input type="radio" name="bridge" value="unsure"> unsure 
</p>
  
<p>
  Do you think the disease known as ebola has subsided ?<br>
 <input type="radio" name="ebola" value="yes"> yes <br>
  <input type="radio" name="ebola" value="no"> no <br>
  <input type="radio" name="ebola" value="unsure"> unsure <br>
</p>

<p> Have you heard of the suicide attack taken place in Kabul, Afghanistan ?<br>
 <input type="radio" name="attack" value="yes"> yes <br>
  <input type="radio" name="attack" value="no"> no <br>
  <input type="radio" name="attack" value="unsure"> unsure <br>
</p>

<p> Did you hear about the crop destroying worm traveling from Africa to Asia ?<br>
  <input type="radio" name="worm" value="yes"> yes <br>
  <input type="radio" name="worm" value="no"> no <br>
  <input type="radio" name="worm" value="unsure"> unsure <br>
</p>

<p> Did you hear abut the Earthquake that happen in lombak, Indonesia ?<br>
  <input type="radio" name="Earthquake" value="yes"> yes <br>
  <input type="radio" name="Earthquake" value="no"> no <br>
  <input type="radio" name="Earthquake" value="unsure"> unsure <br>
</p>

<p> Have you heard of the unexpected floods in New Delhi, India ?<br>
  <input type="radio" name="flood" value="yes"> yes <br>
  <input type="radio" name="flood" value="no"> no <br>
  <input type="radio" name="flood" value="unsure"> unsure <br>
</p>

<p> Has anyone talk to you about the terror attacks happening in london ?<br>
  <input type="radio" name="terror" value="yes"> yes <br>
  <input type="radio" name="terror" value="no"> no <br>
  <input type="radio" name="terror" value="unsure"> unsure <br>
</p>
  
<p> Did you see on the news about the explosion that happened in near Syrain-Turkish ?<br>
  <input type="radio" name="explosion" value="yes"> yes <br>
  <input type="radio" name="explosion" value="no"> no <br>
  <input type="radio" name="explosion" value="unsure"> unsure <br>
</p>

<p> Have you heard of the Saudi-led attack that killed dozen of innocent children ?<br>
  <input type="radio" name="dozen" value="yes"> yes <br>
  <input type="radio" name="dozen" value="no"> no <br>
  <input type="radio" name="dozen" value="unsure"> unsure <br>
</p>
  
<p> Have you heard of the outbrek of superbugs killing malawi babies ?<br>
  <input type="radio" name="outbreak" value="yes"> yes <br>
  <input type="radio" name="outbreak" value="no"> no <br>
  <input type="radio" name="outbreak" value="unsure"> unsure <br>
</p>
  
   <button type="submit"> Submit</button>
</form>
</html>